<body style = "padding: 5rem">
    <div class="card testimonial">
        <div class="grid grid--1x2">
            <div class="testimonial__image">
                <img src="images/sbux.jpg" alt="Barista Photo">
                <span class="icon-container icon-container--accent">
                    <svg class="icon icon--small icon--white">
                        <use xlink:href="images/sprite.svg#quotes"></use>
                    </svg>
                </span>
            </div>
            <body>
                <blockquote class="quote">
                    <p class="quote__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus amet reiciendis, ratione consequatur vero tenetur debitis alias nisi explicabo aliquid. Accusantium libero fuga exercitationem, et itaque a ipsum ratione molestias suscipit eum error aperiam obcaecati quis inventore tenetur perferendis aut assumenda autem consectetur, distinctio porro voluptatibus? Enim corporis est quis?</p>
                    <footer>
                        <div class="media">
                            <div class="media__image"></div>
                                <svg class="icon icon--primary quote__line">
                                    <use xlink:href="images/sprite.svg#line"></use>
                                </svg>
                            <div class="media__body">
                                <h3 class = "media__title quote__author">John Smith</h3>
                                <p class = "quote__company">Starbucks</p>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </body>
        </div>
    </div>
</body>