<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
        <header class="block__header hero__content">
            <h1 class="block__heading">Hi, I am Glenn</h1>
            <p class="hero__tagline">A sophomore at the National University of Singapore studying Information Systems!</p>
            <a href="https://www.linkedin.com/in/glenn-quah-59390a18b/" class="btn btn--accent btn--stretched">Connect With Me!</a>
        </header>
        <img class="hero__image" src="images/banner.png" alt="">
    </div>
   </section>