<section class="block container block-plans">
    <div class="grid grid--1x3">
        <div class="job">
            <div>
                <div class="card card--primary">
                    <header class="card__header">
                        <h3 class="job__name">Starbucks Singapore</h3>
                        <div><span class="job__position">Operations Supervisor</span></div>
                        <div><span class="badge badge--secondary badge--small">Leadership</span></div>
                        <span class="job__duration">Sept 2023 - Dec 2024</span>
                    </header>
                    <div class="card__body">
                        <ul class="list list--pointer">
                            <li class = "list__item">Item 1</li>
                            <li class = "list__item">Item 2</li>
                            <li class = "list__item">Item 3</li>
                        </ul>
                        <button class="btn btn--outline btn--block">For More Information</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="job job--current ">
            <div>
                <div class="card card--secondary">
                    <header class="card__header">
                        <h3 class="job__name">Starbucks Singapore</h3>
                        <div><span class="job__position">Operations Supervisor</span></div>
                        <div><span class="badge badge--secondary badge--small">Leadership</span></div>
                        <span class="job__duration">Sept 2023 - Dec 2024</span>
                    </header>
                    <div class="card__body">
                        <ul class="list list--pointer">
                            <li class = "list__item">Item 1</li>
                            <li class = "list__item">Item 2</li>
                            <li class = "list__item">Item 3</li>
                        </ul>
                        <button class="btn btn--outline btn--block">For More Information</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="job">
            <div>
                <div class="card card--secondary">
                    <header class="card__header">
                        <h3 class="job__name">Starbucks Singapore</h3>
                        <div><span class="job__position">Operations Supervisor</span></div>
                        <div><span class="badge badge--secondary badge--small">Leadership</span></div>
                        <span class="job__duration">Sept 2023 - Dec 2024</span>
                    </header>
                    <div class="card__body">
                        <ul class="list list--pointer">
                            <li class = "list__item">Item 1</li>
                            <li class = "list__item">Item 2</li>
                            <li class = "list__item">Item 3</li>
                        </ul>
                        <button class="btn btn--outline btn--block">For More Information</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>