<div class="media">
    <div class="media__image"></div>
        <svg class="icon icon--primary">
            <img class = "media__icon" src="images/education.svg" alt="">
        </svg>
    <div class="media__body">
        <h3 class = "media__title">Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quos animi odio, aspernatur libero porro nobis doloremque repellat voluptate provident dolores maxime! Sapiente, fuga aliquid qui quo illo libero quidem!</p>
    </div>
</div>